header{
    background: #232f3e;
    color: #ffffff;
    padding: 40px;
    margin-bottom: 30px;
}

#cart {
    border-left: solid 2px #ffc107;
}

#cart h2{
    text-transform: uppercase;
    color: #ffc107;
}

#products .card{
    margin-bottom: 20px;
}

.item img{
    width: 100%;
}

.card-footer input {
    width: 60px;
}

.item p{
    margin-bottom: 0;
}

#cart-products{
    margin-bottom: 20px;
    border-bottom: dashed #ffc107 2px;
    padding-bottom: 30px;
}

.total h6{
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: right;
}
.item.row {
    margin-bottom: 20px;
}

#place-order{
    width: 100%;
}